<!DOCTYPE html>
<html>
 <head>
    <link rel="Stylesheet" href="/style.css">
  </head>
  <style>
    ul { list-style-type:none; }
  </style>

  <body>

    <h1> MakersBnB </h1>
    <hr>
    <h2> List a space</h2><br>

<form action='/add_space' method='post'>
    <label for space_name></label>
    <input type='text' style="height:30px;width:300px" name='space_name' placeholder='Name'><br>
    <br>
    <label for space_description></label>
    <input type='text' style="height:70px;width:300px" name='space_description'placeholder='Description'><br>
    <br>
    <label for space_price>Price per night:</label>
    <input type="number" min="0.00" max="200.00" step="0.01" name='space_price' placeholder="£"><br>
    <br>
    <input type='submit' value='List my Space'><br>
  </form>
  </body>
  </html>
