<!DOCTYPE html>
<html>
 <head>
    <link rel="Stylesheet" href="/style.css">
  </head>
  <style>
    ul { list-style-type:none; }
  </style>

  <body>


<body>
  <div class='tab'>
    <form action='/homepage' method='get'>
      <input type='submit' value='Spaces'>
    </form>
  </div>


<h1> MakersBnB </h1>
<hr>
<h2> your requests:</h2><br>

<ul>
<li><%= @name %></li>
</ul>

</body>
</html>
